/* Import all fonts file */
@import "_fonts.scss";

/* Import all Sass Variables */
@import "_variables.scss";

/* Import all Global Classes */
@import "_class.scss";

/* Import all Mixing project */
@import "_mixing.scss";
